<html>
    <body>
        <h1>FWI Prediction<h1>
            <form action="{{url_for('predict_datapoint')}}" method="post" >
                <input type="text" placeholder="Temperature" name="Temperature" required="required" /><br>
                <input type="text" placeholder="Rh" name="Rh" required="required"/><br>
                <input type="text" placeholder="Ws" name="Ws" required="required"/><br>
                <input type="text" placeholder="Rain" name="Rain" required="required"/><br>
                <input type="text" placeholder="FFMC" name="FFMC" required="required"/><br>
                <input type="text" placeholder="DMC" name="DMC" required="required"/><br>
                <input type="text" placeholder="ISI" name="ISI" required="required"/><br>
                <input type="text" placeholder="Classes" name="Classes" required="required"/><br>
                <input type="text" placeholder="Region" name="Region" required="required"/><br>


                <button type="submit" class="btn btn-primary btn-block btn-large" >Predict</button>

            </form>
               
            <h2>Result is {{result}}</h2>
        <body>
        </html>
